<style>
table {
    width: 70%;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    
}
th, td {
    padding: 1px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #00796B;
    color: white;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #00796B;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


</style>
<br><br>
<input type="button" value="SortBy" style="float: right; margin-right:100px">
<br><br><br>
<div ng-init=accountProduct()>
<table>

  <tr>
    <th></th>
  
    <th ng-hide="true">Id</th>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Post date</th>
    <th>Last Update</th>
    
  </tr>
<tr ng-repeat="product in account">
	<td><img src={{ product.photos }} height="75",width="75"></td>
	<td ng-hide="true">{{ product.id }}</td>
	<td>{{ product.name }}</td>
	<td>{{ product.title }}</td>
	<td>{{ product.description }}</td>
	<td>{{ product.category }}</td>
	<td>{{ product.price}}</td>
	<td>{{ product.createdDate | date:'medium'}}</td>
	<td>{{ product.lastUpdatedDate| date:'medium'}}</td>
	
	<td><input type="button" value="Update" ng-click="edit(product)"></td>
	<td><input type="button" value="Delete" ng-click="deletePost(product.id)"></td>
	<td><input type="button" value="Show Messages" ng-click="showMsgs(product.id)"></td>
	</tr>
 </table>
</div>
